a.cw-a {
    color: #3998E0;
    font-family: "Google Sans";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
}

a.cw-a:hover {
    text-decoration: underline;
}