.cw-competition-form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cw-competition-form-container .form-container{
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
