.cw-error-logo {
    height: 258px;
    width: 436px;
}

.cw-error-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }