.cw-notification-badge-container {
    height: 30px;
    width: 26px;
    position: relative;
}

.cw-notification-badge-container .icon {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 22px;
    width: 22px;
}

.cw-notification-badge-container .badge-container {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    background-color: #68B983;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cw-notification-badge-container .badge-container .badge-number{
    display: flex;
}


